@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('/fonts/inter/inter-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('/fonts/inter/inter-medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('/fonts/inter/inter-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('/fonts/inter/inter-bold.woff') format('woff');
}

:root {
  --pt-purple-50: #f5f0ff;
  --pt-purple-100: #deceff;
  --pt-purple-200: #c8adff;
  --pt-purple-300: #b18cff;
  --pt-purple-400: #9b6aff;
  --pt-purple-500: #8050e3;
  --pt-purple-600: #6538c1;
  --pt-purple-700: #4c249f;
  --pt-purple-800: #36147d;
  --pt-purple-900: #24095b;
  --pt-teal-light: #35f0d0;
  --pt-teal-dark: #0dc5a5;
  --pt-pink-light: #fa48e8;
  --pt-pink-dark: #b623a7;
  --pt-bg-purple-light: #5d3a97;
  --pt-bg-purple-dark: #2d0c66;
  --pt-bg-purple-darker: #21064e;
  --pt-warning-light: #ffb6b6;
  --pt-warning-dark: #8b0000;
  --pt-gold: #ffb636;
  --pt-transparent: #f5f0ff1a;
  --pt-placeholder: #f5f0ff4d;
}

html {
  min-height: 100vh;
  font-family: 'Inter';
  font-feature-settings: 'calt' off;
  color: var(--pt-purple-50);
  background-color: var(--pt-bg-purple-darker);
  background-image: url('/background.svg');
  background-repeat: no-repeat;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

button {
  padding: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  user-select: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

input::placeholder {
  color: var(--pt-placeholder);
}

p {
  margin: 0;
}

.desktop-only {
  display: none;
}

.teal-button {
  padding: 0.75rem 1.25rem;
  text-align: center;
  color: var(--pt-purple-800);
  background-color: var(--pt-teal-light);
  font-weight: 500;
  line-height: 150%;
  border: 1px solid var(--pt-teal-dark);
  border-radius: 0.5rem;
  text-decoration: none;
}

.teal-button:hover {
  background-color: var(--pt-teal-dark);
}

.monospace {
  font-family: monospace, monospace;
}

@media (min-width: 48rem) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}
